:root{
    --background-color: #000000;
    --darker-background-color: #243847;
    --accent-color: #35c6ff;
    --text-color: #e5e5e5;
    --navbar-height: 50px;

}
*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color); 
}
html{
    height: 100%;
    background-color: #000000;
}
body{
    height: 100%;
}
nav{
    height: var(--navbar-height);
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    margin-left: 80px;
    margin-top: 20px;
    text-decoration: none;
}
#language_button{
    height: 20px;
    width: 20px;
}
#launch{
    border-radius: 15px 30px;
    background-color: rgb(36, 98, 212);
}
#integrate{
    border-radius: 15px 30px;
    background-color: magenta;
    margin-right: 20px;
    margin-left: 20px;
}
nav ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-right: 40px;
}
nav li{
    height: 100%;
    width: 150px;
    text-align: center;
    position: relative;
}
nav li:hover{
    background: var(--accent-color);
}
nav ul a{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}
.dropdown{
    height: min-content;
    width: 200px;
    background: var(--background-color);

    display: none;
    flex-direction: column;

    position: absolute;
    left: 0;
    top: var(--navbar-height)
}
.dropdown li{
    height: 70px;
    width: 100%;
}
.dropdown li a{
    justify-content: flex-start;
    padding-left: 30px;
    width: calc(100% - 30px);
}
nav li:hover .dropdown{
    display: flex;
}
nav input[type="checkbox"]{
    display: none;
}
.expandable_li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle_button{
    width: 30px;
    height: 23px;

    position: absolute;
    top: 25px;
    right: 25px;

    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.bar{
    height: 4px;
    width: 100%;
    background: var(--text-color);
    border-radius: 100px;
}
@media(max-width: 850px){
    .toggle_button{
        display: flex;
    }
    nav ul{
        height: min-content;
        width: 100%;
        background: var(--background-color);

        display: none;
        position: absolute;
        top: var(--navbar-height);
    }
    nav li{
        height: min-content;
        width: 100%;
    }
    nav ul a{
        padding: 30px 0;
    }
    .expandable_li{
        display: block;
    }
    .expandable_li label {
        padding: 30px 0;
        cursor: pointer;
        display:block;
    }
    .expandable_li:hover .dropdown{
        display: none;
    }
    .expandable_li input[type="checkbox"]:checked ~ .dropdown{
        display: block;
    }
    .dropdown{
        position: static;
        width: 100%;
    }
    .dropdown li{
        padding: 0;
        display: block;
        position: static;
        background-color: var(--darker-background-color);
    }
    .dropdown li a{
        width: 100%;
        padding: 0;
        justify-content: center;
    }
    nav .toggle_button:checked ~ {
        display: block;
    }

}


* {
    font-family: sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

.section_1 {
    background-image:url('backgroundp.png');
    height: 500px;
    background-size: cover;
}

.divsection1 {
    padding: 160px 0px 50px 100px;
}

.h1class {
    font-size: 3.2rem;
    width: 350px;
    padding-bottom: 40px;
}

.h2class {
    font-size: 0.9rem;
    width: 350px;
    padding-bottom: 20px;
}

.two_buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 20rem;
    margin-top: 20px;
}
.launch {
    background-color: #3b82f6;
}

.integrate {
    background-color: #d946ef;
}

.textdeco {
    padding: 0.5rem;
    border-radius: 8px 15px 0px 15px;
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_2, .section_3, .section_4 {
    background-color: black;
    padding-bottom: 50px;
}

.container {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    background: linear-gradient(90deg, rgb(52, 52, 55), rgb(88, 92, 100));
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.lists {
    list-style-type: none;
    font-size: 0.7rem;
}

.icons {
    font-size: 40px;
}

.section_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.h2section_3 {
    color: #e9f3fd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 50px 50px;
    font-size: 2.2em;
}

.chains_logo {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 50px 280px;
}

.section_4 {
    padding: 50px 50px 20px 50px;
}

.h1section_4 {
    color: #e9f3fd;
    font-size: 2.2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.our_product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #3b82f6;
    padding: 0.5rem;
    border-radius: 8px 15px 0px 15px;
    margin: 15px 0px 0px 0px;
    width: 120px;
    height: 24px;
}

.section_5 {
    background-color: black;    
    display: flex;
    justify-content: space-around;
}

.product_profiles {
    padding: 0.5rem;
    border-radius: 28px 45px 0px 45px;
    margin: 10px 50px 50px 50px;
    width: 200px;
    height: 300px;
    border: solid gray 1px;
    display: flex;
    justify-content: center;
}

#trades {
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px 5px;
    color: rgb(89, 89, 226);
}

.whitetext {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px 5px;
    color: white;
}

.light-gray {
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px 5px;
    color: rgb(172, 166, 166);
}


