body{
    background-color: #000000;
    color: aliceblue;
    font-size: 25px;
    margin: 0;
    padding: 0;
    
}
.container{
    width: 100%;
    height: auto;
    margin-left: 2vw;
    margin-right: 2vw;
   
}

.nav-bar{
 height: 10vh;
 width:100vw ;
 background:#676565;
 color:white;

}

.nav{
    display: flex;
    justify-content: space-evenly;
}
.nav-item {
   
    font-size: 15px;
}
.item{
    list-style: none;

}

.item a{
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    
}

.main{

    margin: 5vh;
}